@using Application.Common.Models
@model Application.Common.Models.BookingModel
@{
    ViewData["Title"] = "Your next destination";
}

<div class="container center" style="max-width: 576px">
    
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Book a tour <strong>@@TourDeBooker</strong></p>
    </div>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "row"}))
    {
        <div class="col-12 mb-3">
            @Html.LabelFor(m => m.Name, new {@class = "form-label"})
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        </div>

        <div class="col-12 mb-3">
            @Html.LabelFor(m => m.Email, new {@class = "form-label"})
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        </div>

        <div class="col-12 mb-3">
            @Html.LabelFor(m => m.Tour, new {@class = "form-label"})
            @Html.DropDownListFor(m => m.Tour, new List<SelectListItem>
            {
                new("TourDeNow", "tourdenow"),
                new("TourDeLater", "tourdelater")
            }, "Please select", new {@class = "form-control"})
        </div>

        <div class="col-12 mb-3">
            @foreach (var value in Enum.GetValues(typeof(BookingType)))
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="@value" name="@nameof(BookingModel.ActionType)" value="@value">
                    <label class="form-check-label" for="@value">@value</label>
                </div>
            }
        </div>

        <div class="col-12 mb-3">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    }

</div>